extends includes/layout

block content
	div.archive-wrapper
		a(href="./archive/2016edition/index.html")
			div.archive-card#sixteen-card
				h1.archive-issue-title Spring 2016 Issue
		a(href="./archive/2017edition/index.html")
			div.archive-card#seventeen-card
				h1.archive-issue-title Spring 2017 Issue
