extends includes/layout

block content
	div.contents-wrapper
		h1.contents-title Contents
		h2.contents-section Fiction
		div.contents-block
			h3.contents-essay-title Title
			p.contents-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius, ligula non vulputate tempor, nisl orci tristique diam, et commodo metus mauris non nunc.
		div.contents-block
			h3.contents-essay-title Title
			p.contents-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius, ligula non vulputate tempor, nisl orci tristique diam, et commodo metus mauris non nunc.
		div.contents-block
			h3.contents-essay-title Title
			p.contents-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius, ligula non vulputate tempor, nisl orci tristique diam, et commodo metus mauris non nunc.
		h2.contents-section Personal Essays
		div.contents-block
			h3.contents-essay-title Title
			p.contents-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius, ligula non vulputate tempor, nisl orci tristique diam, et commodo metus mauris non nunc.
		div.contents-block
			h3.contents-essay-title Title
			p.contents-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius, ligula non vulputate tempor, nisl orci tristique diam, et commodo metus mauris non nunc.
		div.contents-block
			h3.contents-essay-title Title
			p.contents-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius, ligula non vulputate tempor, nisl orci tristique diam, et commodo metus mauris non nunc.
		h2.contents-section Poetry
		div.contents-block
			h3.contents-essay-title Title
			p.contents-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius, ligula non vulputate tempor, nisl orci tristique diam, et commodo metus mauris non nunc.
		div.contents-block
			h3.contents-essay-title Title
			p.contents-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius, ligula non vulputate tempor, nisl orci tristique diam, et commodo metus mauris non nunc.
