extends includes/layout

block content
	div.contents-wrapper
		h2.contents-section Monsters are People, Too
		a.contents-linker(href="theimportanceofmonsters.html")
			div.contents-block#theimportanceofmonsters-contents
				h3.contents-essay-title The Importance of Monsters
				p.contents-subtitle Stephen Fox, essay
		a.contents-linker(href="skin.html")
			div.contents-block#skin-contents
				h3.contents-essay-title Skin
				p.contents-subtitle Victoria Wroblewski, fiction
		a.contents-linker(href="blacklake.html")
			div.contents-block#blacklake-contents
				h3.contents-essay-title Black Lake
				p.contents-subtitle Jaslynn Martinez, fiction
		h2.contents-section All Are Created Equal
		a.contents-linker(href="getout.html")
			div.contents-block#getout-contents
				h3.contents-essay-title Get Out
				p.contents-subtitle Myron Fields, essay
		a.contents-linker(href="contentofmyskin.html")
			div.contents-block#contentofmyskin-contents
				h3.contents-essay-title The Content of My Skin
				p.contents-subtitle Emilyann Thompson, essay
		a.contents-linker(href="channeling.html")
			div.contents-block#channeling-contents
				h3.contents-essay-title Channeling
				p.contents-subtitle Erin Johnson, audio essay
		h2.contents-section In an Instant
		a.contents-linker(href="mazurka.html")
			div.contents-block#mazurka-contents
				h3.contents-essay-title Mazurka
				p.contents-subtitle Sam Lyons, poetry
		a.contents-linker(href="lynnmolando.html")
			div.contents-block#lynnmolando-contents
				h3.contents-essay-title The Tale of Lynne Molando
				p.contents-subtitle Eliana Puschett, fiction
		h2.contents-section Lusting for Love
		a.contents-linker(href="yablon.html")
			div.contents-block#yablon-contents
				h3.contents-essay-title Yablon (In Between)
				p.contents-subtitle David Schweizer, poetry
		a.contents-linker(href="devilishwishes.html")
			div.contents-block#devilishwishes-contents
				h3.contents-essay-title Devilish Wishes
				p.contents-subtitle Joseph Roman, poetry
		h2.contents-section A Light at the End of the Tunnel
		a.contents-linker(href="whoknowswhereshesfrom.html")
			div.contents-block#whoknowswhereshesfrom-contents
				h3.contents-essay-title Who Knows Where She's From
				p.contents-subtitle Starla Blatcher, film
		a.contents-linker(href="thecannolicatastrophe.html")
			div.contents-block#thecannolicatastrophe-contents
				h3.contents-essay-title The Cannoli Catastrophe
				p.contents-subtitle Kristal Rivera, fiction
