extends includes/layout

block content
	div.contents-wrapper
		h1.contents-title Contents
		h2.contents-section Monsters are People, Too
		a.contents-linker(href="theimportanceofmonsters.html")
			div.contents-block#theimportanceofmonsters-contents
				h3.contents-essay-title The Importance of Monsters
		a.contents-linker(href="skin.html")
			div.contents-block#skin-contents
				h3.contents-essay-title Skin
		h2.contents-section All Are Created Equal
		a.contents-linker(href="getout.html")
			div.contents-block#getout-contents
				h3.contents-essay-title Get Out
		a.contents-linker(href="oursecretgarden.html")
			div.contents-block#garden-contents
				h3.contents-essay-title Our Secret Garden
		a.contents-linker(href="channeling.html")
			div.contents-block#channeling-contents
				h3.contents-essay-title Channeling
		h2.contents-section In an Instant
		a.contents-linker(href="mazurka.html")
			div.contents-block#mazurka-contents
				h3.contents-essay-title Mazurka
		a.contents-linker(href="lynnmolando.html")
			div.contents-block#lynnmolando-contents
				h3.contents-essay-title The Tale of Lynn Molando
		h2.contents-section Lusting for Love
		a.contents-linker(href="yablon.html")
			div.contents-block#yablon-contents
				h3.contents-essay-title Yablon (In Between)
		a.contents-linker(href="devilishwishes.html")
			div.contents-block#devilishwishes-contents
				h3.contents-essay-title Devilish Wishes
		h2.contents-section A Light at the End of the Tunnel
		a.contents-linker(href="devilishwishes.html")
			div.contents-block#devilishwishes-contents
				h3.contents-essay-title Devilish Wishes
		a.contents-linker(href="thecannolicatastrophe.html")
			div.contents-block#thecannolicatastrophe-contents
				h3.contents-essay-title The Cannoli Catastrophe
