extends includes/layout

block content
	div.contents-wrapper
		h1.contents-title Contents
		h2.contents-section Poetry
		a.contents-linker(href="steve.html")
			div.contents-block#steve-contents
				h3.contents-essay-title Steve
		a.contents-linker(href="toriseabove.html")
			div.contents-block#riseabove-contents
				h3.contents-essay-title To Rise Above
		h2.contents-section Personal Essays
		a.contents-linker(href="elpoderenlaspalabras.html")
			div.contents-block#poder-contents
				h3.contents-essay-title El Poder en las Palabras
		a.contents-linker(href="oursecretgarden.html")
			div.contents-block#garden-contents
				h3.contents-essay-title Our Secret Garden
		a.contents-linker(href="darksideofshowbusiness.html")
			div.contents-block#darkside-contents
				h3.contents-essay-title The Dark Side of Show Business
		h2.contents-section Fiction
		a.contents-linker(href="foolsgold.html")
			div.contents-block#foolsgold-contents
				h3.contents-essay-title Fool’s Gold
		a.contents-linker(href="room303.html")
			div.contents-block#room-contents
				h3.contents-essay-title Room 303
		h2.contents-section Academic Essays
		a.contents-linker(href="funhome.html")
			div.contents-block#funhome-contents
				h3.contents-essay-title Intertextuality in Alison Bechdel’s <i>Fun Home</i>
		a.contents-linker(href="sympathyforthedevil.html")
			div.contents-block#devil-contents
				h3.contents-essay-title Sympathy for the Devil
		a.contents-linker(href="willpowerandfeminism.html")
			div.contents-block#willpower-contents
				h3.contents-essay-title Will Power and Feminism
